.containerBig {
  max-width: 60%;
  min-width: 60vw;
  margin-left: 11rem;
  /* background-color: green; */
}

.cards {
  max-width: 80vw;
  width: 100%;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.27);
  padding: 10px;
  border-radius: 5px;
  /* background-color: green; */
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* background-color: violet; */
}

.description > span {
  width: 22.5%;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  padding: 15px 0;

  border-bottom: 2px solid grey;
}